.reportcard{
    height: fit-content;
    width: 300px !important;
    display: flex;

    flex-direction: column;
    background-color: rgb(255, 255, 255,0.2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 margin: 10px;
 border-radius: 10%;
 justify-content: center;
 align-items: center;
/* border:0.01px solid rgb(0, 0, 0); */
 padding: 10px;

}
.reportcard:hover{
    box-shadow: rgba(255, 255, 255,0.4) 0px 0px 0px 2px, rgba(173, 255, 47,0.65) 0px 4px 6px -1px,  rgba(173, 255, 47,0.08) 0px 1px 0px inset;
}
.metricCardHeading{
    display:flex;
    justify-content: center;
align-items: center;

}

.catname{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    color:chartreuse;

}
.j01{
    font-size: 2rem;
    color:greenyellow;





}




